/*
x Each page should use one general style sheet (club-general.css) that applies a thematic flow to the pages
x i.e. If I choose to have a fan club for WarGreymon my club-general.css would apply to all of my pages:
x a yellow background
x curved, pointy, dinosaur talon-y font
x steel/metallic colored font for exciting headings
x maybe some cool metal looking :hover for my links
x *obviously, you won't be able to use WarGreymon, he's a Digimon*
x the club-general.css will be linked by every page, give it broad enough rules that will be used everywhere
x pages may have individual stylesheets (i.e. club-about.css), but no in-line style attributes
*/

/* google fonts open sans and raleway */
@import 'https://fonts.googleapis.com/css?family=Open+Sans|Raleway';

/* I know how @media works but I found the exact dpi ranges on stack overflow http://stackoverflow.com/questions/12469875/how-to-code-css-media-queries-targeting-all-mobile-devices-and-tablets */
@media only screen and (min-resolution: 117dpi) and (max-resolution: 119dpi), only screen and (min-resolution: 131dpi) and (max-resolution: 133dpi), only screen and (min-resolution: 145dpi) and (max-resolution: 154dpi), only screen and (min-resolution: 162dpi) and (max-resolution: 164dpi), only screen and (min-resolution: 169dpi){
	* {
		font-size: 1.2em;
	}	

	nav li {
		font-size: 1.3em;
	}
}

* {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

body {
	background: linear-gradient(purple, red);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Raleway', sans-serif;
	color: white; 
	text-align: center;
}


/* common header sizes from http://stackoverflow.com/questions/6140430/what-are-the-most-common-font-sizes-for-h1-h6-tags*/
h1 { 
	font-size: 2em; 
}

h2 { 
	font-size: 1.5em; 
	margin: 1em 0 1em 0;
}

h3 { 
	font-size: 1.17em; 
}

h4 { 
	font-size: 1.12em; 
}

h5 { 
	font-size: .83em; 
}

h6 { 
	font-size: .75em; 
}

h2 + div {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 70%;
}

h2 + p {
	width: 70%;
}

p {
	color: white;
}

p > a {
	color: #79B215; 
}

p > a:visited {
	color: purple;
}

table {
	margin: 1.5em 0em 1.5em 0em;
	text-align: center;
	background: purple;
	color: white;
	border-radius: 5px;
	box-shadow: 0 0.5em 30px 1px rgba(0,0,0,0.8); 
	border-collapse: collapse;
}

tr:nth-child(even) {
	background: #79B215; 
}

th, td {
	padding: 5px;
}

.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: 1em;
	font-size: 2em;
	border: 0;
	width: 10em;
	height: 2.5em;
	border-radius: 2.5em;
	color: purple;
	background: white;
	box-shadow: 0 0.3em 20px -0.3em rgba(0,0,0,0.8); 
	text-decoration: none;
	transition: color .2s, background .5s;
}

.btn:hover, .btn:focus {
	color: white;
	background: #79B215; 
}

/* nav section */
nav {
	width: 100%;
	box-shadow: 0 0.5em 40px 0 rgba(0,0,0,0.5); 
	margin-bottom: 3em;
}

nav ul {
	display: flex;
	justify-content: center;
	list-style-type: none;
	flex-wrap: wrap;
}

nav li {
	margin: 0.6em 0.8em 0.6em 0.8em;
	font-size: 1.3em;
}

nav a {
	color: white;
	text-decoration: none;
	transition: color .2s, text-shadow .2s;
}

nav a:hover, nav a:focus {
	text-shadow: 0 5px 10px rgba(0,0,0,0.8); 
	color: #79B215;
}

/* footer section*/ 
/* I don't think my use of the footer tag is 100% appropriate... oh well */
footer {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

#sitemap {
	text-align: center;
	opacity: 0.8;
	text-decoration: none;
	width: 100%;
}
