/* google fonts open sans and raleway*/

@import 'https://fonts.googleapis.com/css?family=Open+Sans|Raleway';

/* found on stck overflow :/ */
@media only screen and (min-resolution: 117dpi) and (max-resolution: 119dpi), only screen and (min-resolution: 131dpi) and (max-resolution: 133dpi), only screen and (min-resolution: 145dpi) and (max-resolution: 154dpi), only screen and (min-resolution: 162dpi) and (max-resolution: 164dpi), only screen and (min-resolution: 169dpi){
	* {
		font-size: 1.2em;
	}	

	nav li {
		font-size: 1.3em;
	}

	/* Mobile needs this but it must be run after the height: 100% thats requiered for firefox */
	body {
		height: auto !important;
	}
}

* {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

body {
	background: linear-gradient(purple, red);
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Raleway', sans-serif;
	color: white; 
	text-align: center;
}

p {
	color: white;
}

/* common header sizes from http://stackoverflow.com/questions/6140430/what-are-the-most-common-font-sizes-for-h1-h6-tags*/
h1 { 
	font-size: 2em; 
}

h2 { 
	font-size: 1.5em; 
}

h3 { 
	font-size: 1.17em; 
}

h4 { 
	font-size: 1.12em; 
}

h5 { 
	font-size: .83em; 
}

h6 { 
	font-size: .75em; 
}

button {
	margin: 1em;
	font-size: 2em;
	border: 0;
	width: 10em;
	height: 2.5em;
	border-radius: 2.5em;
	color: purple;
	transition: color,background .5s;
	box-shadow: 0 0.3em 20px -0.3em rgba(0,0,0,0.8); 
}

button:hover, button:focus {
	color: white;
	background: #79B215; 
}

/* nav section */

nav {
	width: 100%;
	box-shadow: 0 0.5em 40px 0 rgba(0,0,0,0.5); 
	margin-bottom: 3em;
}

nav ul {
	display: flex;
	justify-content: center;
	list-style-type: none;
	flex-wrap: wrap;
}

nav li {
	margin: 0.6em 0.8em 0.6em 0.8em;
	font-size: 1.3em;
}

nav a {
	color: white;
	text-decoration: none;
	transition: text-shadow .2s;
}

nav a:hover, nav a:focus {
	text-shadow: 0 5px 10px rgba(0,0,0,0.8); 
}

/* footer section*/ 

footer, footer * {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

footer div {
	font-size: 1em;
	flex-basis: 10em;
	margin: 1em;
	background: purple;
	height: 13em;	
	align-items: center;
	box-shadow: 0 1em 40px 0 rgba(0,0,0,0.8); 
}

footer a {
	text-decoration: none;
	color: purple;
	width: 100%;
}

footer > a {
	opacity: 0.8;
}
